### Pandas -  Cleaning Data
Limpeza de dados
Limpeza de dados significa consertar dados ruins em seu conjunto de dados.

Dados ruins podem ser:

### Células vazias
### Dados em formato errado
### Dados errados
### Duplicatas

### O conjunto de dados contém algumas células vazias ("Data" na linha 22 e "Calorias" nas linhas 18 e 28).

### O conjunto de dados contém formato errado ("Data" na linha 26).

### O conjunto de dados contém dados errados ("Duração" na linha 7).

### O conjunto de dados contém duplicatas (linhas 11 e 12).
    Duration          Date  Pulse  Maxpulse  Calories
  0         60  '2020/12/01'    110       130     409.1
  1         60  '2020/12/02'    117       145     479.0
  2         60  '2020/12/03'    103       135     340.0
  3         45  '2020/12/04'    109       175     282.4
  4         45  '2020/12/05'    117       148     406.0
  5         60  '2020/12/06'    102       127     300.0
  6         60  '2020/12/07'    110       136     374.0
  7        450  '2020/12/08'    104       134     253.3
  8         30  '2020/12/09'    109       133     195.1
  9         60  '2020/12/10'     98       124     269.0
  10        60  '2020/12/11'    103       147     329.3
  11        60  '2020/12/12'    100       120     250.7
  12        60  '2020/12/12'    100       120     250.7
  13        60  '2020/12/13'    106       128     345.3
  14        60  '2020/12/14'    104       132     379.3
  15        60  '2020/12/15'     98       123     275.0
  16        60  '2020/12/16'     98       120     215.2
  17        60  '2020/12/17'    100       120     300.0
  18        45  '2020/12/18'     90       112       NaN
  19        60  '2020/12/19'    103       123     323.0
  20        45  '2020/12/20'     97       125     243.0
  21        60  '2020/12/21'    108       131     364.2
  22        45           NaN    100       119     282.0
  23        60  '2020/12/23'    130       101     300.0
  24        45  '2020/12/24'    105       132     246.0
  25        60  '2020/12/25'    102       126     334.5
  26        60    2020/12/26    100       120     250.0
  27        60  '2020/12/27'     92       118     241.0
  28        60  '2020/12/28'    103       132       NaN
  29        60  '2020/12/29'    100       132     280.0
  30        60  '2020/12/30'    102       129     380.3
  31        60  '2020/12/31'     92       115     243.0

### Pandas - Limpando células vazias
# Células vazias
Células vazias podem potencialmente dar a você um resultado errado quando você analisa dados.

# Remover linhas
Uma maneira de lidar com células vazias é remover linhas que contêm células vazias.

Isso geralmente é OK, já que conjuntos de dados podem ser muito grandes, e remover algumas linhas não terá um grande impacto no resultado.

In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Fonte Dados\pandas\001_Pandas_operacoes.txt")

new_df = df.dropna()

print(new_df.to_string())

    Duracao        Data  Pulso  Maxpulso  Calorias
0        60  2020/12/01    110       130     409.1
1        60  2020/12/02    117       145     479.0
2        60  2020/12/03    103       135     340.0
3        45  2020/12/04    109       175     282.4
4        45  2020/12/05    117       148     406.0
5        60  2020/12/06    102       127     300.0
6        60  2020/12/07    110       136     374.0
7       450  2020/12/08    104       134     253.3
8        30  2020/12/09    109       133     195.1
9        60  2020/12/10     98       124     269.0
10       60  2020/12/11    103       147     329.3
11       60  2020/12/12    100       120     250.7
12       60  2020/12/12    100       120     250.7
13       60  2020/12/13    106       128     345.3
14       60  2020/12/14    104       132     379.3
15       60  2020/12/15     98       123     275.0
16       60  2020/12/16     98       120     215.2
17       60  2020/12/17    100       120     300.0
19       60  2020/12/19    103       123     323.0
20       45  2020/12/20     97       125     243.0
21       60  2020/12/21    108       131     364.2
23       60  2020/12/23    130       101     300.0
24       60  2020/12/24    105       132     246.0
25       60  2020/12/25    102       126     334.5
26       60  2020/12/26    100       120     250.0
27       60  2020/12/27     92       118     241.0
29       60  2020/12/29    100       132     280.0
30       60  2020/12/30    102       129     380.3
31       60  2020/12/31     92       115     243.0

#### O conjunto de dados contém algumas células vazias ("Data" na linha 22 e "Calorias" nas linhas 18 e 28).

#### O conjunto de dados contém formato errado ("Data" na linha 26).

#### O conjunto de dados contém dados errados ("Duração" na linha 7).

#### O conjunto de dados contém duplicatas (linhas 11 e 12).

## Se você quiser alterar o DataFrame original, use o argumento inplace = True:

In [4]:
import pandas as pd

df = pd.read_csv(r"C:\Fonte Dados\pandas\001_Pandas_operacoes.txt")

df.dropna(inplace = True)

print(df.to_string())

    Duracao        Data  Pulso  Maxpulso  Calorias
0        60  2020/12/01    110       130     409.1
1        60  2020/12/02    117       145     479.0
2        60  2020/12/03    103       135     340.0
3        45  2020/12/04    109       175     282.4
4        45  2020/12/05    117       148     406.0
5        60  2020/12/06    102       127     300.0
6        60  2020/12/07    110       136     374.0
7       450  2020/12/08    104       134     253.3
8        30  2020/12/09    109       133     195.1
9        60  2020/12/10     98       124     269.0
10       60  2020/12/11    103       147     329.3
11       60  2020/12/12    100       120     250.7
12       60  2020/12/12    100       120     250.7
13       60  2020/12/13    106       128     345.3
14       60  2020/12/14    104       132     379.3
15       60  2020/12/15     98       123     275.0
16       60  2020/12/16     98       120     215.2
17       60  2020/12/17    100       120     300.0
19       60  2020/12/19    103       123     323.0
20       45  2020/12/20     97       125     243.0
21       60  2020/12/21    108       131     364.2
23       60  2020/12/23    130       101     300.0
24       60  2020/12/24    105       132     246.0
25       60  2020/12/25    102       126     334.5
26       60  2020/12/26    100       120     250.0
27       60  2020/12/27     92       118     241.0
29       60  2020/12/29    100       132     280.0
30       60  2020/12/30    102       129     380.3
31       60  2020/12/31     92       115     243.0

## Observação: Aplicando o  dropna(inplace = True) NÃO retornará um novo DataFrame, 
## mas removerá todas as linhas que contêm valores NULL do DataFrame original.

# Substituir Valores Vazios
Outra maneira de lidar com células vazias é inserir um novo valor.

Dessa forma, você não precisa excluir linhas inteiras só por causa de algumas células vazias.

O método fillna() nos permite substituir células vazias por um valor:

In [5]:
import pandas as pd

df = pd.read_csv(r"C:\Fonte Dados\pandas\001_Pandas_operacoes.txt")

df.fillna(130, inplace = True)

print(df.to_string())

    Duracao        Data  Pulso  Maxpulso  Calorias
0        60  2020/12/01    110       130     409.1
1        60  2020/12/02    117       145     479.0
2        60  2020/12/03    103       135     340.0
3        45  2020/12/04    109       175     282.4
4        45  2020/12/05    117       148     406.0
5        60  2020/12/06    102       127     300.0
6        60  2020/12/07    110       136     374.0
7       450  2020/12/08    104       134     253.3
8        30  2020/12/09    109       133     195.1
9        60  2020/12/10     98       124     269.0
10       60  2020/12/11    103       147     329.3
11       60  2020/12/12    100       120     250.7
12       60  2020/12/12    100       120     250.7
13       60  2020/12/13    106       128     345.3
14       60  2020/12/14    104       132     379.3
15       60  2020/12/15     98       123     275.0
16       60  2020/12/16     98       120     215.2
17       60  2020/12/17    100       120     300.0
18       45  2020/12/18     90       112     130.0
19       60  2020/12/19    103       123     323.0
20       45  2020/12/20     97       125     243.0
21       60  2020/12/21    108       131     364.2
22       45         130    100       119     282.0
23       60  2020/12/23    130       101     300.0
24       60  2020/12/24    105       132     246.0
25       60  2020/12/25    102       126     334.5
26       60  2020/12/26    100       120     250.0
27       60  2020/12/27     92       118     241.0
28       60  2020/12/28    103       132     130.0
29       60  2020/12/29    100       132     280.0
30       60  2020/12/30    102       129     380.3
31       60  2020/12/31     92       115     243.0

# Substituir somente para colunas especificadas
O exemplo acima substitui todas as células vazias em todo o Data Frame.

Para substituir somente valores vazios para uma coluna, especifique o nome da coluna para o DataFrame:

In [6]:
import pandas as pd

df = pd.read_csv(r"C:\Fonte Dados\pandas\001_Pandas_operacoes.txt")

df["Calorias"].fillna(130, inplace = True)

print(df.to_string())

    Duracao        Data  Pulso  Maxpulso  Calorias
0        60  2020/12/01    110       130     409.1
1        60  2020/12/02    117       145     479.0
2        60  2020/12/03    103       135     340.0
3        45  2020/12/04    109       175     282.4
4        45  2020/12/05    117       148     406.0
5        60  2020/12/06    102       127     300.0
6        60  2020/12/07    110       136     374.0
7       450  2020/12/08    104       134     253.3
8        30  2020/12/09    109       133     195.1
9        60  2020/12/10     98       124     269.0
10       60  2020/12/11    103       147     329.3
11       60  2020/12/12    100       120     250.7
12       60  2020/12/12    100       120     250.7
13       60  2020/12/13    106       128     345.3
14       60  2020/12/14    104       132     379.3
15       60  2020/12/15     98       123     275.0
16       60  2020/12/16     98       120     215.2
17       60  2020/12/17    100       120     300.0
18       45  2020/12/18     90       112     130.0
19       60  2020/12/19    103       123     323.0
20       45  2020/12/20     97       125     243.0
21       60  2020/12/21    108       131     364.2
22       45         NaN    100       119     282.0
23       60  2020/12/23    130       101     300.0
24       60  2020/12/24    105       132     246.0
25       60  2020/12/25    102       126     334.5
26       60  2020/12/26    100       120     250.0
27       60  2020/12/27     92       118     241.0
28       60  2020/12/28    103       132     130.0
29       60  2020/12/29    100       132     280.0
30       60  2020/12/30    102       129     380.3
31       60  2020/12/31     92       115     243.0

C:\Users\andre\AppData\Local\Temp\ipykernel_23292\1144922691.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Calorias"].fillna(130, inplace = True)

# Dados de Formato Errado
Células com dados de formato errado podem dificultar, ou até mesmo impossibilitar, a análise de dados.

Para consertar, você tem duas opções: remover as linhas ou converter todas as células nas colunas para o mesmo formato.

# Converter em um formato correto
Em nosso Data Frame, temos duas células com o formato errado. Verifique as linhas 22 e 26, a coluna 'Date' deve ser uma string que representa uma data:

In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Fonte Dados\pandas\001_Pandas_operacoes.txt")

df['Date'] = pd.to_datetime(df['Data'])

print(df.to_string())

    Duracao        Data  Pulso  Maxpulso  Calorias       Date
0        60  2020/12/01    110       130     409.1 2020-12-01
1        60  2020/12/02    117       145     479.0 2020-12-02
2        60  2020/12/03    103       135     340.0 2020-12-03
3        45  2020/12/04    109       175     282.4 2020-12-04
4        45  2020/12/05    117       148     406.0 2020-12-05
5        60  2020/12/06    102       127     300.0 2020-12-06
6        60  2020/12/07    110       136     374.0 2020-12-07
7       450  2020/12/08    104       134     253.3 2020-12-08
8        30  2020/12/09    109       133     195.1 2020-12-09
9        60  2020/12/10     98       124     269.0 2020-12-10
10       60  2020/12/11    103       147     329.3 2020-12-11
11       60  2020/12/12    100       120     250.7 2020-12-12
12       60  2020/12/12    100       120     250.7 2020-12-12
13       60  2020/12/13    106       128     345.3 2020-12-13
14       60  2020/12/14    104       132     379.3 2020-12-14
15       60  2020/12/15     98       123     275.0 2020-12-15
16       60  2020/12/16     98       120     215.2 2020-12-16
17       60  2020/12/17    100       120     300.0 2020-12-17
18       45  2020/12/18     90       112       NaN 2020-12-18
19       60  2020/12/19    103       123     323.0 2020-12-19
20       45  2020/12/20     97       125     243.0 2020-12-20
21       60  2020/12/21    108       131     364.2 2020-12-21
22       45         NaN    100       119     282.0        NaT
23       60  2020/12/23    130       101     300.0 2020-12-23
24       60  2020/12/24    105       132     246.0 2020-12-24
25       60  2020/12/25    102       126     334.5 2020-12-25
26       60  2020/12/26    100       120     250.0 2020-12-26
27       60  2020/12/27     92       118     241.0 2020-12-27
28       60  2020/12/28    103       132       NaN 2020-12-28
29       60  2020/12/29    100       132     280.0 2020-12-29
30       60  2020/12/30    102       129     380.3 2020-12-30
31       60  2020/12/31     92       115     243.0 2020-12-31

# Removendo Linhas
O resultado da conversão no exemplo acima nos deu um valor NaT, que pode ser tratado como um valor NULL, e podemos remover a linha usando o método dropna().

In [9]:
df.dropna(subset=['Date'], inplace = True)
print(df.to_string())

    Duracao        Data  Pulso  Maxpulso  Calorias       Date
0        60  2020/12/01    110       130     409.1 2020-12-01
1        60  2020/12/02    117       145     479.0 2020-12-02
2        60  2020/12/03    103       135     340.0 2020-12-03
3        45  2020/12/04    109       175     282.4 2020-12-04
4        45  2020/12/05    117       148     406.0 2020-12-05
5        60  2020/12/06    102       127     300.0 2020-12-06
6        60  2020/12/07    110       136     374.0 2020-12-07
7       450  2020/12/08    104       134     253.3 2020-12-08
8        30  2020/12/09    109       133     195.1 2020-12-09
9        60  2020/12/10     98       124     269.0 2020-12-10
10       60  2020/12/11    103       147     329.3 2020-12-11
11       60  2020/12/12    100       120     250.7 2020-12-12
12       60  2020/12/12    100       120     250.7 2020-12-12
13       60  2020/12/13    106       128     345.3 2020-12-13
14       60  2020/12/14    104       132     379.3 2020-12-14
15       60  2020/12/15     98       123     275.0 2020-12-15
16       60  2020/12/16     98       120     215.2 2020-12-16
17       60  2020/12/17    100       120     300.0 2020-12-17
18       45  2020/12/18     90       112       NaN 2020-12-18
19       60  2020/12/19    103       123     323.0 2020-12-19
20       45  2020/12/20     97       125     243.0 2020-12-20
21       60  2020/12/21    108       131     364.2 2020-12-21
23       60  2020/12/23    130       101     300.0 2020-12-23
24       60  2020/12/24    105       132     246.0 2020-12-24
25       60  2020/12/25    102       126     334.5 2020-12-25
26       60  2020/12/26    100       120     250.0 2020-12-26
27       60  2020/12/27     92       118     241.0 2020-12-27
28       60  2020/12/28    103       132       NaN 2020-12-28
29       60  2020/12/29    100       132     280.0 2020-12-29
30       60  2020/12/30    102       129     380.3 2020-12-30
31       60  2020/12/31     92       115     243.0 2020-12-31

# Dados Errados
"Dados Errados" não precisam ser "células vazias" ou "formato errado", podem estar errados, como se alguém registrasse "199" em vez de "1,99".

Às vezes, você pode identificar dados errados olhando para o conjunto de dados, porque você tem uma expectativa do que deveria ser.

Se você der uma olhada em nosso conjunto de dados, verá que na linha 7, a duração é 450, mas para todas as outras linhas a duração está entre 30 e 60.

Não necessariamente estaa errado, mas levando em consideração que este é o conjunto de dados das sessões de treino de alguém, concluímos com o fato de que essa pessoa não treinou em 450 minutos.

# Substituindo Valores
Uma maneira de corrigir valores errados é substituí-los por outra coisa.

Em nosso exemplo, é mais provável que seja um erro de digitação, e o valor deveria ser "45" em vez de "450", e poderíamos simplesmente inserir "45" na linha 7:

In [11]:
df.loc[7, 'Duracao'] = 45
print(df.to_string())

    Duracao        Data  Pulso  Maxpulso  Calorias       Date  Duration
0        60  2020/12/01    110       130     409.1 2020-12-01       NaN
1        60  2020/12/02    117       145     479.0 2020-12-02       NaN
2        60  2020/12/03    103       135     340.0 2020-12-03       NaN
3        45  2020/12/04    109       175     282.4 2020-12-04       NaN
4        45  2020/12/05    117       148     406.0 2020-12-05       NaN
5        60  2020/12/06    102       127     300.0 2020-12-06       NaN
6        60  2020/12/07    110       136     374.0 2020-12-07       NaN
7        45  2020/12/08    104       134     253.3 2020-12-08      45.0
8        30  2020/12/09    109       133     195.1 2020-12-09       NaN
9        60  2020/12/10     98       124     269.0 2020-12-10       NaN
10       60  2020/12/11    103       147     329.3 2020-12-11       NaN
11       60  2020/12/12    100       120     250.7 2020-12-12       NaN
12       60  2020/12/12    100       120     250.7 2020-12-12       NaN
13       60  2020/12/13    106       128     345.3 2020-12-13       NaN
14       60  2020/12/14    104       132     379.3 2020-12-14       NaN
15       60  2020/12/15     98       123     275.0 2020-12-15       NaN
16       60  2020/12/16     98       120     215.2 2020-12-16       NaN
17       60  2020/12/17    100       120     300.0 2020-12-17       NaN
18       45  2020/12/18     90       112       NaN 2020-12-18       NaN
19       60  2020/12/19    103       123     323.0 2020-12-19       NaN
20       45  2020/12/20     97       125     243.0 2020-12-20       NaN
21       60  2020/12/21    108       131     364.2 2020-12-21       NaN
23       60  2020/12/23    130       101     300.0 2020-12-23       NaN
24       60  2020/12/24    105       132     246.0 2020-12-24       NaN
25       60  2020/12/25    102       126     334.5 2020-12-25       NaN
26       60  2020/12/26    100       120     250.0 2020-12-26       NaN
27       60  2020/12/27     92       118     241.0 2020-12-27       NaN
28       60  2020/12/28    103       132       NaN 2020-12-28       NaN
29       60  2020/12/29    100       132     280.0 2020-12-29       NaN
30       60  2020/12/30    102       129     380.3 2020-12-30       NaN
31       60  2020/12/31     92       115     243.0 2020-12-31       NaN

# Removendo Linhas
Outra maneira de lidar com dados errados é remover as linhas que contêm dados errados.

Dessa forma, você não precisa descobrir com o que substituí-las, e há uma boa chance de você não precisar delas para fazer suas análises.

In [12]:
for x in df.index:
  if df.loc[x, "Duracao"] > 120:
    df.drop(x, inplace = True)

In [15]:
# Remover a linha com índice 28 
df = df.drop(index=28)
print(df.to_string())

    Duracao        Data  Pulso  Maxpulso  Calorias       Date  Duration
0        60  2020/12/01    110       130     409.1 2020-12-01       NaN
1        60  2020/12/02    117       145     479.0 2020-12-02       NaN
2        60  2020/12/03    103       135     340.0 2020-12-03       NaN
3        45  2020/12/04    109       175     282.4 2020-12-04       NaN
4        45  2020/12/05    117       148     406.0 2020-12-05       NaN
5        60  2020/12/06    102       127     300.0 2020-12-06       NaN
6        60  2020/12/07    110       136     374.0 2020-12-07       NaN
7        45  2020/12/08    104       134     253.3 2020-12-08      45.0
8        30  2020/12/09    109       133     195.1 2020-12-09       NaN
9        60  2020/12/10     98       124     269.0 2020-12-10       NaN
10       60  2020/12/11    103       147     329.3 2020-12-11       NaN
11       60  2020/12/12    100       120     250.7 2020-12-12       NaN
12       60  2020/12/12    100       120     250.7 2020-12-12       NaN
13       60  2020/12/13    106       128     345.3 2020-12-13       NaN
14       60  2020/12/14    104       132     379.3 2020-12-14       NaN
15       60  2020/12/15     98       123     275.0 2020-12-15       NaN
16       60  2020/12/16     98       120     215.2 2020-12-16       NaN
17       60  2020/12/17    100       120     300.0 2020-12-17       NaN
18       45  2020/12/18     90       112       NaN 2020-12-18       NaN
19       60  2020/12/19    103       123     323.0 2020-12-19       NaN
20       45  2020/12/20     97       125     243.0 2020-12-20       NaN
21       60  2020/12/21    108       131     364.2 2020-12-21       NaN
23       60  2020/12/23    130       101     300.0 2020-12-23       NaN
24       60  2020/12/24    105       132     246.0 2020-12-24       NaN
25       60  2020/12/25    102       126     334.5 2020-12-25       NaN
26       60  2020/12/26    100       120     250.0 2020-12-26       NaN
29       60  2020/12/29    100       132     280.0 2020-12-29       NaN
30       60  2020/12/30    102       129     380.3 2020-12-30       NaN
31       60  2020/12/31     92       115     243.0 2020-12-31       NaN

# Pandas - Removendo Duplicatas
Descobrindo Duplicatas
Linhas duplicadas são linhas que foram registradas mais de uma vez.
Dando uma olhada em nosso conjunto de dados de teste, podemos assumir que as linhas 11 e 12 são duplicatas.

Para descobrir duplicatas, podemos usar o método duplicated().

O método duplicated() retorna valores booleanos para cada linha:

In [16]:
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
23    False
24    False
25    False
26    False
29    False
30    False
31    False
dtype: bool

# Removendo duplicatas
Para remover duplicatas, use o método drop_duplicates().

In [18]:
df.drop_duplicates(inplace = True)
print(df.to_string())

    Duracao        Data  Pulso  Maxpulso  Calorias       Date  Duration
0        60  2020/12/01    110       130     409.1 2020-12-01       NaN
1        60  2020/12/02    117       145     479.0 2020-12-02       NaN
2        60  2020/12/03    103       135     340.0 2020-12-03       NaN
3        45  2020/12/04    109       175     282.4 2020-12-04       NaN
4        45  2020/12/05    117       148     406.0 2020-12-05       NaN
5        60  2020/12/06    102       127     300.0 2020-12-06       NaN
6        60  2020/12/07    110       136     374.0 2020-12-07       NaN
7        45  2020/12/08    104       134     253.3 2020-12-08      45.0
8        30  2020/12/09    109       133     195.1 2020-12-09       NaN
9        60  2020/12/10     98       124     269.0 2020-12-10       NaN
10       60  2020/12/11    103       147     329.3 2020-12-11       NaN
11       60  2020/12/12    100       120     250.7 2020-12-12       NaN
13       60  2020/12/13    106       128     345.3 2020-12-13       NaN
14       60  2020/12/14    104       132     379.3 2020-12-14       NaN
15       60  2020/12/15     98       123     275.0 2020-12-15       NaN
16       60  2020/12/16     98       120     215.2 2020-12-16       NaN
17       60  2020/12/17    100       120     300.0 2020-12-17       NaN
18       45  2020/12/18     90       112       NaN 2020-12-18       NaN
19       60  2020/12/19    103       123     323.0 2020-12-19       NaN
20       45  2020/12/20     97       125     243.0 2020-12-20       NaN
21       60  2020/12/21    108       131     364.2 2020-12-21       NaN
23       60  2020/12/23    130       101     300.0 2020-12-23       NaN
24       60  2020/12/24    105       132     246.0 2020-12-24       NaN
25       60  2020/12/25    102       126     334.5 2020-12-25       NaN
26       60  2020/12/26    100       120     250.0 2020-12-26       NaN
29       60  2020/12/29    100       132     280.0 2020-12-29       NaN
30       60  2020/12/30    102       129     380.3 2020-12-30       NaN
31       60  2020/12/31     92       115     243.0 2020-12-31       NaN

# Lembre-se: (inplace = True) 
Garantirá que o método NÃO retorne um novo DataFrame, mas removerá todas as duplicatas do DataFrame original.